* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.game-board {
width: 100%;
height: 500px;
margin: auto;
position: relative;
overflow: hidden;
}

.x-wing {
position: absolute;
bottom: 30px;
width: 150px;
animation: x-wing-animation 2s infinite linear;
z-index: 4;
} 

.darth-vader {
width: 150px;
position:absolute;
bottom: 25px;
z-index: 10;
}

.destroyer {
position:absolute;
bottom: -30px;
width: 100%;
z-index: 2;
}

.espaco {
width: 100%;
z-index: 1;
position: absolute;

}

.death-star {
bottom: 250px;
position: absolute;
z-index: 3;
animation: death-star-animation 100s infinite linear;

}

.placar {
    position: absolute;
    top: 10px;
    z-index: 10;
    right: 10px;
    padding: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.jump {
    animation: jump 1000ms ease-out;
}

@keyframes x-wing-animation {
    from {
        right: -150px;
    }
    to {
        right: 100%;
    }
}

@keyframes death-star-animation {
    from {
        right: -250px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {

0% {
    bottom: 25px;
}

5% {
    bottom: 200px;
}

40% {
    bottom: 200px;
}

60% {
    /* bottom: 200px; */
}

100% {
    bottom: 25px;
}


}












